.cdk-drag-preview {
  overflow: visible;
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
  border-radius: var(--mat-card-outlined-container-shape, var(--mat-sys-corner-medium));
  box-shadow: var(--mat-sys-level4);

  & *:not(toolbar) {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

paragraph-block.cdk-drag-preview {
  p {
    ul {
      margin: 0 0 14px 0 !important;
      padding-left: 40px !important;
      &:not(:first-child) {
        margin: 14px 0 14px 0 !important;
      }
    }
  }
}
